
:root {  
    --ion-color-primary: #3880ff; /* Color primario */  
    --ion-color-secondary: #3dc2ff; /* Color secundario */  
    --ion-color-tertiary: #3dff8f; /* Color terciario */  
    --ion-color-danger: #eb445a; /* Color de peligro */  
  
    /* Colores de fondo */  
    --ion-color-background: #f4f4f4; /* Color de fondo */  
    --ion-color-content: #fff; /* Color del contenido */  
  }